@page "/Cart"
@using System.Security.Claims
@using global::Shared.DTOs
@using global::Shared.Models
@using HttpClients.ClientInterfaces
@inject IProductService productService;
@inject ICartService cartService;


@if (products == null)
{
}
else if (!products.Any())
{
    <p>No Products to display</p>
}
else
{
    <div class="shell">
        <div class="container">
            <div class="row">
                @foreach (var product in products)
                {
                    <div class="col-md-3">
                        <div class="wsk-cp-product">
                            <div class="wsk-cp-img">
                                <img src="@product.ImagePath" alt="Product" class="img-responsive"/>
                            </div>
                            <div class="wsk-cp-text">
                                <div class="category">
                                    <span>@product.Category.Name</span>
                                </div>
                                <div class="title-product">
                                    <h3>@product.Name</h3>
                                </div>
                                <div class="description-prod">
                                    <p>@product.Description</p>
                                </div>
                                <div class="card-footer">
                                    <div class="wcf-left"><span class="price">@product.Price <i>dkk</i></span></div>
                                    <div class="wcf-right"><a href="/Cart" @onclick="() => RemoveItemFromCartAsync(product.Id)" class="buy-btn" style="background: url('https://api.iconify.design/zmdi/shopping-basket.svg') no-repeat center center / contain;"></a></div>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>






@code {

    [CascadingParameter]
    public Task<AuthenticationState> AuthState { get; set; } = null!;

    private string? name;
    private IEnumerable<Claim>? userClaims;
    private bool isLoggedIn;


    private string errormsg = "";
    private ICollection<Product> products = new List<Product>();
    private int productId;


    protected override async Task OnInitializedAsync()
    {
        try
        {
            AuthenticationState authState = await AuthState;
            ClaimsPrincipal user = authState.User;
            isLoggedIn = user.Identity != null;

            if (!isLoggedIn) return;

            userClaims = user.Claims;
            name = user.Identity!.Name!;
            
            products = await productService.GetProductsInCartByUserAsync(name);
        }
        catch (Exception e)
        {
            Console.WriteLine(e);
            errormsg = e.Message;
        }
    }
    
    private async Task RemoveItemFromCartAsync(int id)
    {
        try
        {

            var dto = new CartItemCreationDTO
            {
                ProductId = id,
                UserName = name
            };

            await cartService.RemoveItemFromCartAsync(dto);
        }
        catch (Exception e)
        {
            Console.WriteLine(e);
            errormsg = e.Message;
        }
    }

}
}