@page "/Profile"
@using System.Security.Claims
@inject NavigationManager NavManager
@inject IJSRuntime js

<AuthorizeView>
    <Authorized>

<section>
<div class="row">
  <div class="col-lg-4">
    <div class="card mb-4">
      <div class="card-body text-center">
        <img src="https://cdn-icons-png.flaticon.com/512/3135/3135715.png" alt="avatar"
             class="rounded-circle img-fluid" style="width: 150px;">
        <h5 class="my-3">@GetClaimValue(AuthState.Result.User, "FirstName") @GetClaimValue(AuthState.Result.User, "LastName")</h5>
        <p class="text-muted mb-4">Credits: @GetClaimValue(AuthState.Result.User, "Credits")</p>
        <div class="d-flex justify-content-center mb-2">
          <button type="button" class="btn btn-primary" @onclick="onDisable">Edit Profile</button>
        </div>
      </div>
    </div>
  </div>


  <div class="col-lg-8">
    <div class="card mb-4">
      <div class="card-body">

        <div class="row">
          <div class="col-sm-3">
            <p class="mb-0">First Name</p>
          </div>
          <div class="col-sm-9">
            <input class="mb-0" disabled="@isDisable" value="@GetClaimValue(AuthState.Result.User, "FirstName")">
          </div>
        </div>

        <hr>
        <div class="row">
          <div class="col-sm-3">
            <p class="mb-0">Last Name</p>
          </div>
          <div class="col-sm-9">
            <input class="mb-0" value="@GetClaimValue(AuthState.Result.User, "LastName")"disabled="@isDisable">
          </div>
        </div>

        <hr>
        <div class="row">
          <div class="col-sm-3">
            <p class="mb-0">Phone Number</p>
          </div>
          <div class="col-sm-9">
            <input class="mb-0" value="321 769 321"disabled="@isDisable">
          </div>
        </div>

        <hr>
        <div class="row">
          <div class="col-sm-3">
            <p class="mb-0">Country</p>
          </div>
          <div class="col-sm-9">
            <input class="mb-0" value="Denmark"disabled="@isDisable">
          </div>
        </div>
              
        <hr>
        <div class="row">
          <div class="col-sm-3">
            <p class="mb-0"> City</p>
          </div>
          <div class="col-sm-9">
            <input class="mb-0" value="Horsens"disabled="@isDisable">
          </div>
        </div>

        <hr>
        <div class="row">
          <div class="col-sm-3">
            <p class="mb-0"> Address</p>
          </div>
          <div class="col-sm-9">
            <input class="mb-0" value="Borgergade 3"disabled="@isDisable">
          </div>
        </div>

        <hr>
        <div class="row">
          <div class="col-sm-3">
            <p class="mb-0"> Zip-Code</p>
          </div>
          <div class="col-sm-9">
            <input class="mb-0" value="8700"disabled="@isDisable">
          </div>
        </div>
        
        <hr>
        <button type="button" class="btn btn-primary" disabled="@isDisable" @onclick="onEditNuttonClick">Save Changes</button>
      </div>
    </div>
  </div>
</div>
</section>
    </Authorized>
    <NotAuthorized>
        
    </NotAuthorized>
</AuthorizeView>

@code
{
  private bool isDisable { get; set; } = true;
  
  
    [CascadingParameter]
    public Task<AuthenticationState> AuthState { get; set; } = null!;
    
  //Method for getting current authenticated user
    static string GetClaimValue(ClaimsPrincipal claimsPrincipal, string type)
        => claimsPrincipal.FindFirst(type)?.Value ?? string.Empty;

  //Method for enabling <input>
  private void onDisable()
  {
    this.isDisable = false;
  }
  
  protected override async Task OnInitializedAsync()
  {
  }

  async Task onEditNuttonClick()
  {
    this.isDisable = true;
  }
}